@model projeto.ViewModel.HomeViewModel
@{
    ViewData["Title"] = "Cardapio";
}
<partial name="_Carousel" />
<div class="container-fuid bg-dark my-3">
    <h1>Moveis em produção</h1>]
</div>

<div class="row row-cols-2 g-3">
    @foreach (var item in Model.ItensEmDestaque)
    {
        <partial name="_Card" for="@item"></partial>
    }
</div>

<div class="container-fuid">
    <button>CÁRDAPIO COMPLETO</button>
</div>