
    <a class="btn btn-secondary rosa roudend-piil dropdown-toggle ms-5 me-3" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-
        expanded="false">
        Categoria
    </a>
    <ul class="dropdown-menu">
        @foreach (var categoria in Model)
        {
            <li>

                <a class="dropdown-item" asp-controller="Item" asp-action="List" style="color:rgb(255, 153, 177)" asp-route-categoria="@categoria.Nome">@categoria.Nome</a>

            </li>
        }

        <li>

            <a class="dropdown-item" asp-controller="Item" asp-action="List">Todos os Itens</a>
        </li>
    </ul>
