html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.bgregister{
  z-index: -1000;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.tamanhotop{
  height: 70px;
}

.rosa{
  background-color: #FF99B1;
}

.text-rosa {
  color: #FF99B1 !;
}

.marrom{
  background-color: #3C3131;
}

.btn-rosa {
  background-color:#FF99B1;
}

.btn-marrom {
  background-color: #3C3131;
}

.tamanhofooter{
  height: 200px;
}